@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Here are some delicious foods!</h1>
@{
    var StringList = new List<string>
        {
            "Pizza",
            "Hamburger",
            "Chocolate",
            "Water"
        };
        foreach(var food in StringList)
        {
            <p>@food</p>
        }
}


</div>
