@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Here are some delicious foods!</h1>
@{
        foreach(var food in ViewBag.FoodList)
        {
            if (food[0].ToString() == "c" || food[0].ToString() == "C")
            {
                <p class="text-danger">@food</p>
            }
            else{
                <p>@food</p>
            }
            

        }
}


</div>
